body {
    font-family: Arial, sans-serif;
    background-color: #2d11fc;
    color: white;
  }
  
  .contenedor {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    background-color: #0a0a0a;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #ffffff;
    text-shadow: 1px 2px 3px black;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 70%;
  }
  
  button {
    box-shadow: 2px 2px #333333;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #070c91;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
    
  button:hover {
    box-shadow: 2px 2px #000000;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0c12bf;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }

  
  #datosClima {
    margin-top: 50px;
    font-size: 18px;
  }
  